<div data-controller="tabs" data-tabs-active-tab="border-green-500 text-green-600" data-tabs-inactive-tab="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300">
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a level</label>
    <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm rounded-md">
      <option selected>Débutant</option>
      <option>Intermédiaire</option>
      <option>Avancé</option>
    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <a href="#" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page" data-tabs-target="tab" data-action="click->tabs#change">
          Débutant
        </a>
        <a href="#" class=" whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" data-tabs-target="tab" data-action="click->tabs#change">
          Intermédiaire
        </a>
        <a href="#" class=" whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" data-tabs-target="tab" data-action="click->tabs#change">
          Avancé
        </a>
      </nav>
    </div>
  </div>

  <div class="hidden py-4" data-tabs-target="panel">
    <div class="mt-4 max-w-lg mx-auto grid gap-5 sm:grid-cols-3 lg:grid-cols-4 sm:max-w-none">
      <% @beginner_areas.take(3).each do |area, count| %>
        <%= link_to area_path(area) do %>
          <%= image_tag "areas/cover-area-#{area.id}.jpg", class: "rounded-lg" %>
          <div class="mt-2 text-gray-400"><%= "#{count} voies de niveau débutant" %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="hidden py-4" data-tabs-target="panel">
    <div class="mt-4 max-w-lg mx-auto grid gap-5 sm:grid-cols-3 lg:grid-cols-4 sm:max-w-none">
      <% @intermediate_areas.take(3).each do |area, count| %>
        <%= link_to area_path(area) do %>
          <%= image_tag "areas/cover-area-#{area.id}.jpg", class: "rounded-lg" %>
          <div class="mt-2 text-gray-400"><%= "#{count} voies entre 4a et 5c+" %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="hidden py-4" data-tabs-target="panel">
    <div class="mt-4 max-w-lg mx-auto grid gap-5 sm:grid-cols-3 lg:grid-cols-4 sm:max-w-none">
      <% @advanced_areas.take(3).each do |area, count| %>
        <%= link_to area_path(area) do %>
          <%= image_tag "areas/cover-area-#{area.id}.jpg", class: "rounded-lg" %>
          <div class="mt-2 text-gray-400"><%= "#{count} voies entre 6a et 8c+" %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>