<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">

        <div class="text-lg max-w-prose mx-auto mb-16">
          <h1>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Choisir un secteur</span>
          </h1>
          <p class="mt-8 text-xl text-gray-500 leading-8">
            Voici quelques conseils pour vous aider à choisir votre secteur d'escalade de bloc.
          </p>
        </div>

        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">
          <h2>Un niveau adapté</h2>
          
          <p>
            Pour vos premières sorties en extérieur nous vous conseillons de choisir un secteur avec de <strong>nombreuses voies en niveau débutant (1, 2, 3)</strong>.
          </p>

          <p>
            Vous pourrez ainsi prendre confiance et trouver les styles de voies que vous préférez.
          </p>

          <p>
            Voici quelques exemples à Fontainebleau :
          </p>
        </div>

        <div class="sm:mx-20 sm:text-lg sm:max-w-prose sm:mx-auto">

          <div class="py-4">
            <div class="mt-4 max-w-lg mx-auto grid gap-5 sm:grid-cols-3 sm:max-w-none">
              <% @beginner_areas.take(3).each do |area, count| %>
                <%= link_to area_path(area) do %>
                  <%= image_tag "areas/cover-area-#{area.id}.jpg", class: "rounded-lg py-0 my-0" %>
                  <div class="mt-2 text-gray-400"><%= t("area.level.problems_count", count: count, level_min: "1a", level_max: "3c+") %></div>
                <% end %>
              <% end %>
            </div>
            <div class="mt-4">
              <a href="<%= areas_path %>" class="place-self-center">
                <div class="text-green-500 flex space-x-2">

                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <div><%= t("homepage.all_areas") %></div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">

          <h2>
            Temps d’approche
          </h2>
          <p>
            Prévoyez entre 1 et 20 min de marche entre le parking et les premières voies, selon les secteurs.
          </p>
          <p>
            Pour éviter les surprises, consultez la carte du secteur.
          </p>

          <h2>
            Humidité
          </h2>
          <p>
            Après la pluie, <strike>le beau temps</strike> pas de grimpe !
            Vous adhérerez mal à la paroi si la roche n’est pas 100% sèche, et vous risquez de l'abîmer. 
          </p>

          <p>
            Certains secteurs sèchent plus vite que d’autres, en fonction de l’exposition au soleil et du vent.
            Consultez la fiche des secteurs pour avoir plus de conseils.
          </p>


          <h2>
            Fréquentation
          </h2>
          <p>
            Les secteurs faciles d'accès sont généralement très fréquentés, notamment le week-end. 
          </p>
          <p>
            Si vous voulez être au calme, penchez plutôt vers des secteurs moins faciles d'accès.
          </p>
        </div>

        </div>
      </div>


</div>