<% set_meta_tags title: t("views.articles.beginners_guide.choose_area.metas.title") %>
<% set_meta_tags og: { type: "website", image: image_url("hero-homepage.jpg") } %>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">

        <div class="text-lg max-w-prose mx-auto mb-16">
          <span class="mt-3 sm:mt-4 block text-base text-center text-green-600 font-semibold tracking-wide uppercase">
            <%= t('views.articles.beginners_guide.title') %>
          </span>
          <h1>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
              <%= t('views.articles.beginners_guide.choose_area.title') %>
            </span>
          </h1>
        </div>

        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">
          <h2>Adapté à votre niveau</h2>
          
          <p>
            Pour vos premières sorties en extérieur nous vous conseillons de choisir un secteur avec de nombreuses voies en <strong>niveau débutant (1, 2, 3)</strong>, des blocs <strong>peu hauts</strong> (3 mètres et moins) et avec une <strong>bonne réception au sol</strong>.
          </p>

          <p>
            Vous pourrez ainsi prendre confiance et trouver les styles de voies que vous préférez.
          </p>

          <p>
            Voici une sélection de secteurs parfaits pour débuter :
          </p>

        </div>
      </div>

      <div class="max-w-3xl mx-auto">
        <div class="py-2 relative">
          <div class="flex flex-nowrap overflow-x-auto py-4 space-x-4 px-4 sm:px-6 lg:px-8">
            <% @beginner_areas.each do |area| %>
              <%= link_to area_path(area) do %>
                <%= render 'shared/area_card', area: area %>
              <% end %>
            <% end %>
            <div class="pr-16">&nbsp;</div>
            <div class="inset-y-0 right-0 flex bg-gradient-to-l from-white pl-8 pr-8 pointer-events-none absolute"></div>
          </div>
        </div>
      </div>

      <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">

          <p>
            Voir aussi :
            <%= link_to top_areas_level_path(anchor: "intermediate") do %>
              niveaux intermédaires/avancés.
            <% end %>
          </p>
        

          <h2>
            Facile d'accès
          </h2>
          <p>
            Prévoyez entre 1 et 20 min de marche entre le parking et les premières voies, selon les secteurs.
          </p>
          <p>
            Pour éviter les surprises, consultez la carte du secteur.
          </p>

          <h2>
            Au calme
          </h2>
          <p>
            Les secteurs faciles d'accès sont généralement assez fréquentés, notamment le week-end. 
          </p>
          <p>
            Si vous voulez être au calme, penchez plutôt vers des secteurs moins faciles d'accès.
          </p>
        </div>

        <%= render 'pagination', prev_path: equipment_path, prev_text: "1. #{t('views.articles.beginners_guide.equipment.title')}", next_path: choose_problems_path, next_text: "3. #{t('views.articles.beginners_guide.choose_problems.title')}" %>

        </div>
      </div>


</div>