<% set_meta_tags title: t("views.articles.beginners_guide.choose_area.metas.title") %>
<% set_meta_tags og: { type: "website", image: image_url("hero-homepage.jpg") } %>

<% # TODO: rewrite this part %>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">

        <div class="text-lg max-w-prose mx-auto mb-16">
          <span class="mt-3 sm:mt-4 block text-base text-center text-green-600 font-semibold tracking-wide uppercase">
            <%= t('views.articles.beginners_guide.title') %>
          </span>
          <h1>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
              <%= t('views.articles.beginners_guide.choose_area.title') %>
            </span>
          </h1>
          <p class="mt-8 text-xl text-gray-500 leading-8">
            Voici quelques conseils pour vous aider à choisir votre secteur d'escalade de bloc.
          </p>
        </div>

        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">
          <h2>Un niveau adapté</h2>
          
          <p>
            Pour vos premières sorties en extérieur nous vous conseillons de choisir un secteur avec de <strong>nombreuses voies en niveau débutant (1, 2, 3)</strong>.
          </p>

          <p>
            Vous pourrez ainsi prendre confiance et trouver les styles de voies que vous préférez.
          </p>

          <p>
            <%= link_to areas_path(anchor: "beginner_friendly") do %>
              Voir la liste de secteurs pour bien débuter à Fontainebleau.
            <% end %>
          </p>
        

          <h2>
            Temps d’approche
          </h2>
          <p>
            Prévoyez entre 1 et 20 min de marche entre le parking et les premières voies, selon les secteurs.
          </p>
          <p>
            Pour éviter les surprises, consultez la carte du secteur.
          </p>

          <h2>
            Humidité
          </h2>
          <p>
            Après la pluie, <strike>le beau temps</strike> pas de grimpe !
            Vous adhérerez mal à la paroi si la roche n’est pas 100% sèche, et vous risquez de l'abîmer. 
          </p>

          <p>
            Certains secteurs sèchent plus vite que d’autres, en fonction de l’exposition au soleil et du vent.
          </p>

          <p>
            <%= link_to areas_path(anchor: "dry_fast") do %>
              Voir la liste de secteurs qui sèchent plus vite.
            <% end %>
          </p>


          <h2>
            Fréquentation
          </h2>
          <p>
            Les secteurs faciles d'accès sont généralement très fréquentés, notamment le week-end. 
          </p>
          <p>
            Si vous voulez être au calme, penchez plutôt vers des secteurs moins faciles d'accès.
          </p>
        </div>

        <%= render 'pagination', prev_path: equipment_path, prev_text: "1. #{t('views.articles.beginners_guide.equipment.title')}", next_path: choose_problems_path, next_text: "3. #{t('views.articles.beginners_guide.choose_problems.title')}" %>

        </div>
      </div>


</div>