<% set_meta_tags title: t("views.articles.beginners_guide.choose_problems.metas.title") %>
<% set_meta_tags og: { type: "website", image: image_url("hero-homepage.jpg") } %>

<div class="bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

        <div class="text-lg max-w-prose mx-auto mb-16">
          <div class="pt-4 pb-16">
            <%= render 'pagination', prev_path: choose_area_path, prev_text: "2. #{t('views.articles.beginners_guide.choose_area.title')}", next_path: climb_safely_path, next_text: "4. #{t('views.articles.beginners_guide.climb_safely.title')}" %>
          </div>

          <span class="mt-3 sm:mt-4 block text-base text-center text-emerald-600 font-semibold tracking-wide uppercase">
            <%= t('views.articles.beginners_guide.title') %>
          </span>
          <h1>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
              <%= t('views.articles.beginners_guide.choose_problems.title') %>
            </span>
          </h1>
          <p class="mt-8 text-xl text-gray-500 leading-8">
            <%= t('views.articles.beginners_guide.choose_problems.intro') %>
          </p>
        </div>

        <div class="mt-6 prose prose-emerald prose-lg text-gray-500 mx-auto">
          

          <h2>
            <%= t('views.articles.beginners_guide.choose_problems.sector') %>
          </h2>

          <p>
            <%= t('views.articles.beginners_guide.choose_problems.sector_p1') %>
          </p>

          <div class="flex justify-center">
            <%= image_tag("articles/yellow-sector.jpg", class: "sm:w-1/2 rounded-lg") %>
          </div>

          <p>
            <%= t('views.articles.beginners_guide.choose_problems.sector_p2') %>
          </p>

          <div class="flex justify-center">
            <%= image_tag("articles/yellow-sector-start.jpg", class: "sm:w-1/2 rounded-lg") %>
          </div>

          <p>
            <%= t('views.articles.beginners_guide.choose_problems.sector_p3') %>
          </p>

          <div class="flex justify-center">
            <%= image_tag("articles/sectors.jpg", class: "sm:w-1/2 rounded-lg") %>
          </div>

          <p>
            <%= t('views.articles.beginners_guide.choose_problems.sector_p4_html') %>
          </p>

          <p>
            <%= t('views.articles.beginners_guide.choose_problems.sector_p5_html') %>
            <span class="inline-flex text-emerald-500 align-middle" title="<%= t("sector.beginner_friendly") %>">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
              </svg>
            </span>
            .
            <br>
            <%= t('views.articles.beginners_guide.choose_problems.sector_p6_html') %>
          </p>

          <h2>
            <%= t('views.articles.beginners_guide.choose_problems.filter_by_level') %>
          </h2>
          
          <p>
            <%= t('views.articles.beginners_guide.choose_problems.filter_by_level_p1_html', path: app_path) %>
          </p>

          <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
            <div class="flex justify-center">
              <div class="relative">
                <%= image_tag "articles/level-filter-#{I18n.locale}.jpg", class: "absolute bg-gray-900 h-full", style: "top:14px; left:18px; height: 652px" %>

                <%= image_tag 'iphone-frame.png', class: "relative mx-auto absolute top-0 left-0", width: "336" %>
              
              </div>
            </div>
          </div>

          <p>
            <%= t('views.articles.beginners_guide.choose_problems.filter_by_level_p2') %>
          </p>

          <div class="py-8">
            <%= warning_box do %>
            <%= t('views.articles.beginners_guide.choose_problems.filter_by_level_warning') %>
              <br>
              <%= t('views.articles.beginners_guide.choose_problems.filter_by_level_warning2') %>
            <% end %>
          </div>

        </div>

        <div class="pt-16 pb-8">
          <%= render 'pagination', prev_path: choose_area_path, prev_text: "2. #{t('views.articles.beginners_guide.choose_area.title')}", next_path: climb_safely_path, next_text: "4. #{t('views.articles.beginners_guide.climb_safely.title')}" %>
        </div>

      </div>

</div>