<% set_meta_tags title: t("views.articles.top_areas.train.metas.title") %>
<% set_meta_tags og: { type: "website", image: image_url("hero-homepage.jpg") } %>

 <div class="bg-white">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">

    <div class="text-lg max-w-prose mx-auto mb-8">
      <span class="mt-3 sm:mt-4 block text-base text-center text-emerald-600 font-semibold tracking-wide uppercase">
        <%= t("views.articles.top_areas.discover_wicklow") %>
      </span>
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          <%= t("views.articles.top_areas.train.title") %>
        </span>
      </h1>
      <!-- <p class="mt-8 text-xl text-gray-500 leading-8">.</p> -->
    </div>
    <div class="mt-6 prose prose-emerald prose-lg text-gray-500 mx-auto">

    </div>
  </div>

  <div class="max-w-7xl mx-auto pb-8 px-4 sm:px-6 lg:px-8">
    <div class="mt-6 prose prose-emerald prose-lg text-gray-500 mx-auto">

      <p>
        <%= t("views.articles.top_areas.train.bike_time") %>
      </p>

      <% @train_stations.each do |train_station| %>
        <h2>
          <%= train_station.name %>
        </h2>

        <ul>
          <% train_station.poi_routes.select(&:bike?).sort_by(&:distance).each do |poi_route| %>
            <li><%= link_to poi_route.area.name, area_path(poi_route.area) %> : <%= poi_route.distance_in_minutes %> min.</li>
          <% end %>
        </ul>
      <% end %>

      <p class="pt-12">
        <%= t("views.articles.top_areas.see_also") %>
        <%= link_to t("views.articles.top_areas.all_areas"), areas_path %>.
      </p>

    </div>
  </div>

</div>
