<li class="px-4 sm:-mx-2 sm:px-2 hover:bg-gray-50 rounded-lg">
  <%= link_to problem_friendly_path(problem) do %>
    <div class="flex justify-between py-2">
        <div>
          <%= problem_circle_view(problem) %>
          <span class="ml-2"><%= problem.name_with_fallback %></span>
        </div>
        <div>
          <div class="flex space-x-2">
            <% if show_featured && problem.featured %>
              <div class="text-red-400">
                <%= render 'svg/heart', width: 24, height: 24 %>
              </div>
            <% end %>
            <div class="text-gray-500">
              <%= problem.grade %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</li>
