<% set_meta_tags title: t("views.problems.show.metas.title", problem: @problem.name_with_fallback, grade: @problem.grade, area: @problem.area.name) %>

<% set_meta_tags canonical: area_problem_url(@problem.area, @problem) %>

<% if line = @problem.lines.published.first %>
  <% set_meta_tags og: { type: "website", image: cdn_image_url(line.topo.photo.variant(:medium)) } %>
<% end %>

<div class="max-w-7xl mx-auto pt-6 pb-6 sm:px-6 lg:px-8">
  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-8">
    <div class="col-span-2">
      <div class="px-4 sm:px-0">
        <div class="flex items-center space-x-1 text-sm font-medium text-gray-500">
          <div><%= link_to "Wicklow", areas_path, class: "hover:text-gray-700" %></div>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
          <div><%= link_to @problem.area.name, area_path(@problem.area), class: "hover:text-gray-700" %></div>
        </div>
        <div class="flex justify-between items-center">
          <div class="flex justify-between items-center w-full mt-2">
            <h1 class="text-4xl font-bold"><%= @problem.name_with_fallback %></h1>
            <div class="text-gray-400 text-4xl font-bold"><%= @problem.grade %></div>
          </div>
        </div>
        <div class="text-gray-500 flex space-x-2 mt-2">
          <% if @problem.sit_start %>
            <div><%= t("problem.sit_start") %></div>
          <% end %>
        </div>
      </div>

      <div class="mt-4">
        <% if @line %>
          <%= render 'shared/topo_with_line', line: @line, scope: :front %>
        <% else %>
          <div class="w-full aspect-w-4 aspect-h-3 bg-gray-300 sm:rounded-lg">
            <div class="flex flex-wrap justify-center content-center">
              <span class="text-gray-400">
                <%= render 'svg/nophoto', width: 98, height: 98 %>
              </span>
            </div>
          </div>
        <% end %>
      </div>

      <% if @problem.description.present? %>
        <div class="px-4 sm:px-0 pt-2">
          <div class="pt-4">
            <div class="prose text-justify">
              <%= simple_format @problem.description %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @problem.sector_letter.blank? && (@problem.previous || @problem.next) %>
        <div class="px-4 sm:px-0 py-2 flex justify-between items-center">
          <div>
            <% if previous = @problem.previous %>
              <%= link_to problem_friendly_path(previous) do %>
                <div class="flex items-center space-x-2 text-emerald-600">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                  </svg>
                  <div><%= t('views.pagination.previous').html_safe %></div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div>
            <% if nexxt = @problem.next %>
              <%= link_to problem_friendly_path(nexxt) do %>
                <div class="flex items-center space-x-2 text-emerald-600">
                  <div><%= t('views.pagination.next').html_safe %></div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                  </svg>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="px-4 sm:px-0 py-2">
        <% if @problem.location.present? %>
          <%= link_to map_path(@problem.area, pid: @problem.id), rel: "nofollow" do %>
            <div class="flex items-center space-x-2 text-emerald-600 mt-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <div><%= t("problem.see_on_map") %></div>
            </div>
          <% end %>
        <% end %>

        <% if @problem.sector_letter.blank? && @problem.sector.present? %>
          <%= link_to sector_path(@problem.sector), rel: "nofollow" do %>
            <div class="flex items-center space-x-2 text-emerald-600 mt-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <div><%= t('views.problems.show.see_sector') %></div>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if @problem.variants.any? %>
        <div class="px-4 sm:px-0 py-4">
          <h2 class="text-xl font-semibold mb-3"><%= t("views.problems.show.variants") %></h2>
          <ul class="">
            <% @problem.variants.sort_by(&:grade).reverse.each do |variant| %>
              <li class="mt-2">
                <%= link_to problem_friendly_path(variant) do %>
                  <%= problem_circle_view(variant) %>
                  <span class="ml-2 font-medium"><%= variant.name_with_fallback %></span>
                  <span class="ml-2 text-gray-400"><%= variant.grade %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @problem.sector_id.present? && @problem.sector_letter.blank? && @problem.bis.any? %>
        <div class="px-4 sm:px-0 py-4">
          <h2 class="text-xl font-semibold mb-3"><%= t("views.problems.show.see_also") %></h2>
          <ul class="">
            <% @problem.bis.each do |bis| %>
              <li class="mt-2">
                <%= link_to problem_friendly_path(bis) do %>
                  <%= problem_circle_view(bis) %>
                  <span class="ml-2 font-medium"><%= bis.name_with_fallback %></span>
                  <span class="ml-2 text-gray-400"><%= bis.grade %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @problem.sector_letter.present? && @problem.main.present? %>
        <div class="px-4 sm:px-0 py-4">
          <h2 class="text-xl font-semibold mb-3"><%= t("views.problems.show.see_also") %></h2>
          <ul class="">
            <% [@problem.main].each do |bis| %>
              <li class="mt-2">
                <%= link_to problem_friendly_path(bis) do %>
                  <%= problem_circle_view(bis) %>
                  <span class="ml-2 font-medium"><%= bis.name_with_fallback %></span>
                  <span class="ml-2 text-gray-400"><%= bis.grade %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
