<div class="col-span-6 sm:col-span-1">
  <%= form.label :sector_number, "Number" %>
  <%= form.text_field :sector_number, autocomplete: "off" %>
</div>

<div class="col-span-6 sm:col-span-1">
  <%= form.label :sector_letter, "Bis" %>
  <%= form.select :sector_letter, Problem::LETTERS.invert, { include_blank: true } %>
</div>

<div class="col-span-6 sm:col-span-2">
  <%= form.label :sector_id %>
  <%= form.collection_select :sector_id, @sectors, :id, :color, include_blank: true %>
</div>

<div class="col-span-6 sm:col-span-4 sm:col-start-1">
  <%= form.label :name %>
  <%= form.text_field :name, autocomplete: "off" %>
</div>

<div class="col-span-6 sm:col-span-4 sm:col-start-1">
  <%= form.label :description %>
  <%= form.text_field :description, autocomplete: "off" %>
</div>

<div class="col-span-6 sm:col-span-1">
  <%= form.label :grade %>
  <%= form.text_field :grade, autocomplete: "off" %>
</div>

<div class="col-span-6 sm:col-span-2">
  <%= form.label :steepness %>
  <%= form.select :steepness, Problem::STEEPNESS_VALUES, { include_blank: false, default: :other } %>
</div>

<div class="col-span-6 sm:col-span-4">
  <%= form.label :sit_start %>
  <%= form.check_box :sit_start %>
</div>

<div class="col-span-6 sm:col-span-2 sm:col-start-1">
  <%= form.label :parent_id, "Parent id" %>
  <%= form.text_field :parent_id, autocomplete: "off" %>
</div>
