<% add_breadcrumb "Wicklow", admin_areas_path %>
<% add_breadcrumb @problem.area.name, admin_area_problems_path(area_slug: @problem.area.slug, sector_id: @problem.sector&.id) %>
<% add_breadcrumb "Problem ##{@problem.id}", nil, class: "active" %>

<% content_for :options do %>
  <div class="flex items-center">
    <% items = [] %>
    <% items << { text: "Request new contributions", link: new_admin_contribution_request_path(problem_id: @problem.id) } %>
    <% items << { text: "Edit", link: edit_admin_problem_path(@problem) } %>
    <%= render 'shared/dot_menu', items: items %>
  </div>
<% end %>

<div class="mb-3 md:grid md:grid-cols-6 md:gap-6">
  <div class="md:col-span-4">
    <div class="flex justify-between">
      <%# if @problem.featured %>
        <%# <span class="text-red-400 mr-1"> %>
          <%#= render 'svg/heart', width: 24, height: 24 %>
        <%# </span> %>
      <%# end %>
      <div class="flex items-center">
        <span class="mr-2"><%= problem_circle_view(@problem) %></span>
        <h1 class="text-2xl font-bold"><%= @problem.name_with_fallback %></h1>
        <span class="ml-2 text-gray-400 text-2xl font-bold"><%= @problem.grade %></span>
      </div>
    </div>
    <div class="my-1">
      <span class="text-gray-400 mr-1">
        
        <% if @problem.sit_start %>
          <span class="text-gray-400">sit start</span>
        <% end %>

        <% if @problem.location.nil? || !@problem.has_line %>
          <%# <span class="text-gray-400 mr-2"> • </span> %>
          <% if @problem.location.nil? %>
            <span class="mr-1 inline-flex items-center rounded-full bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">location</span>
          <% end %>
          <% if !@problem.has_line %>
            <span class="mr-1 inline-flex items-center rounded-full bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">line</span>
          <% end %>
          <%# <span class="text-gray-400 mr-2"> missing </span> %>
        <% end %>
      </span>
    </div>

    <% if @problem.sector_letter.blank? && (@problem.previous || @problem.next) %>
      <div class="px-4 sm:px-0 py-2 flex justify-start items-center">
        <div class="mr-4">
          <% if previous = @problem.previous %>
            <%= link_to [:admin, previous] do %>
              <div class="flex items-center space-x-2 text-emerald-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"/>
                </svg>
                <div><%= t('views.pagination.previous').html_safe %></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if nexxt = @problem.next %>
            <%= link_to [:admin, nexxt] do %>
              <div class="flex items-center space-x-2 text-emerald-600">
                <div><%= t('views.pagination.next').html_safe %></div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                </svg>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="my-4 px-4 sm:px-0">
      <% if @problem.lines.published.none? %>
        <%= link_to new_admin_line_path(problem_id: @problem.id) do %>
          <button type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 h-64 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto h-12 w-12 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
            </svg>
            <span class="mt-2 block text-sm font-semibold text-gray-900">Add a line</span>
          </button>
        <% end %>
      <% end %>

      <% @problem.lines.published.each do |line| %>
        <%= link_to edit_admin_line_path(line) do %>
          <%= render 'shared/topo_with_line', line: line, scope: :admin %>
        <% end %>
      <% end %>

      <% if @problem.lines.unpublished.any? %>
        <div class="mt-8 pb-4" data-controller="reveal">
          <a href="javascript:void(0)" class="text-yellow-500 font-medium" data-action="reveal#toggle"><%= "See unpublished lines (#{@problem.lines.unpublished.count})" %></a>
          <div class="hidden" data-reveal-target="item">
            <% @problem.lines.unpublished.each do |line| %>
              <%= link_to edit_admin_line_path(line) do %>
                <%= render 'shared/topo_with_line', line: line, scope: :admin %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="md:col-span-2">
    <div class="mb-8 shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-6">
        <% if @problem.location.present? %>
          <%= link_to map_path(@problem.area, pid: @problem.id), target: "_blank" do %>
            <div class="flex items-center space-x-2 text-emerald-600 mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
              </svg>
              <div>See on boolder.com (map)</div>
            </div>
          <% end %>
        <% end %>

        <%= link_to problem_friendly_path(@problem), target: "_blank" do %>
          <div class="flex items-center space-x-2 text-emerald-600 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
            <div>See on boolder.com</div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @problem.variants.any? %>
      <% parent = @problem.parent || @problem %>
      <%# <h2 class="mb-4 text-xl font-semibold">Family tree</h2> %>
      <div class="mb-8 shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <p>
            <div class="<%= 'font-bold' if parent.id == @problem.id %>"><%= link_to [parent.name_with_fallback, parent.grade].compact.join(" - "), admin_problem_path(parent) %></div>
          </p>
          <p>
            <% parent.children.sort_by(&:grade).reverse.each do |child| %>
              <div class="flex ml-2">
                <span>↳</span>
                <div class="ml-2 <%= 'font-bold' if child.id == @problem.id %>"><%= link_to [child.name_with_fallback, child.grade].compact.join(" - "), admin_problem_path(child) %></div>
              </div>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <% if @problem.contributions.any? || @problem.contribution_requests.any? %>
      <h2 class="mb-4 text-xl font-semibold">Contributions</h2>
      <div class="mb-8 shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <% if @problem.contribution_requests.any? %>
            <div class="mb-8">
              <% @problem.contribution_requests.order(:id).each do |request| %>
                <%= render "contribution_banner", contribution_request: request %>
              <% end %>
            </div>
          <% end %>

          <ul>
            <% @problem.contributions.each do |contribution| %>
              <li><%= link_to edit_admin_contribution_path(contribution) do %>
                <span class="mr-1 inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-800 ring-1 ring-inset ring-blue-600/20"><%= contribution.state %></span>
                <span><%= "Contrib ##{contribution.id}" %></span>
              <% end %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
