<% set_meta_tags title: t("views.mapping.areas.index.metas.title") %>

<div class="max-w-7xl mx-auto pt-6 sm:px-6 lg:px-8">
  <div class="px-4 sm:px-0">
    <%= link_to contribute_path, class: "hover:text-gray-700" do %>
      <div class="flex items-center space-x-2 text-sm font-medium text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
        <span><%= t("views.breadcrumbs.back") %></span>
      </div>
    <% end %>
  </div>
</div>

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 pb-8">
  <div class="lg:grid lg:grid-cols-2 lg:gap-16 mb-4">
    <div class="col-span-1">

      <h1 class="text-3xl font-bold mb-4 mt-2 px-4 sm:px-0"><%= t("views.mapping.areas.index.title") %></h1>
      
      <div class="px-4 sm:px-0">

        <div class="py-2 text-gray-600 text-base"><%= t("views.mapping.areas.index.subtitle") %></div>

        <div class="pb-4">
          <%= link_to mapping_map_path do %>
            <div class="flex items-center space-x-2 text-emerald-600 my-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <div><%= t("views.mapping.see_on_map") %></div>
            </div>
          <% end %>
        </div>
      
      </div>
      
      <div class="overflow-hidden bg-white shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <ul role="list" class="divide-y divide-gray-200">
          <% @areas.each do |area_with_count| %>
            <li>
              <%= link_to mapping_problems_path(area_id: area_with_count.area.id), class: "block hover:bg-gray-50" do %>
                <div class="px-4 py-4 sm:px-6">
                  <div class="flex justify-between">
                    <p><%= area_with_count.area.name %></p>
                    <div class="flex items-center space-x-2 text-gray-400">
                      <span><%= area_with_count.count %></span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                      </svg>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="px-4 sm:px-0 mt-8">
        <p class="py-2 text-gray-600 text-base"><%= t("views.mapping.areas.index.core_mapping_team") %></p>
        <p class="py-2 text-gray-600 text-base"><%= t("views.mapping.areas.index.core_mapping_team_email_html", link: link_to("hello@boolder.com", "mailto:hello@boolder.com", class: "font-medium underline text-emerald-600")) %></p>
      </div>
      
    </div>
  </div>
</div>
