<% add_breadcrumb "Wicklow", admin_areas_path %>
<% add_breadcrumb @line.problem.area.name, admin_area_problems_path(area_slug: @line.problem.area.slug, sector_id: @line.problem.sector&.id) %>
<% add_breadcrumb "Problem ##{@line.problem.id}", admin_problem_path(@line.problem) %>
<% add_breadcrumb "Line ##{@line.id}", nil, class: "active" %>

<div class="my-3">
  <%= problem_circle_view_with_name(@line.problem) %>
</div>
<div class="my-3">
  <%= link_to "Topo ##{@line.topo.id}", edit_admin_topo_path(@line.topo) %>
</div>

<div data-controller="topo-editor">
  <div style="" data-topo-editor-target="container">
    <%= cdn_image_tag(@line.topo.photo.variant(:medium), data: { "topo-editor-target": "image" }, style: "position:absolute;z-index:1;") %>
    <canvas data-topo-editor-target="canvas" data-action="click->topo-editor#createPoint" style="position:relative;z-index:20;"></canvas>
  </div>

  <div class="my-3">
    <%= form_with model: [:admin, @line], data: { "topo-editor-target": "form" } do |form| %>
      <div class="my-3">
        <%= form.label :coordinates %>
        <%= form.text_area :coordinates, rows: "4", data: { "topo-editor-target": 'textarea' }, value: @line.coordinates.to_json %>
      </div>

      <div class="my-3">
        <%= form.submit "Save", class: "btn" %>
        <% items = [] %>
        <% items << { text: "destroy", link: admin_line_path(@line), data: { "turbo-confirm": 'Are you sure?', "turbo-method": :delete } } %>
        <%= render 'shared/dot_menu', items: items, align_class: "bottom-0" %>
      </div>
    <% end %>
  </div>
</div>

<div style="margin-bottom: 300px"></div>
