<% set_meta_tags title: t("views.about.metas.title") %>

<div class="bg-warm-gray-50">
  <div class="py-8 lg:py-16">
    <div class="relative z-10 mx-auto max-w-7xl pl-4 pr-8 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold tracking-tight text-warm-gray-900 sm:text-5xl lg:text-6xl"><%= t("views.about.title") %></h1>
    </div>
  </div>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">
        <%= t("views.about.project.title") %>
      </h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        <%= t("views.about.project.p1") %>
      </p>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        <%= t("views.about.project.p2") %>
      </p>

      <!-- <div class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-4">
        
          <div>
            <h3 class="text-lg font-medium text-warm-gray-900">Los Angeles</h3>
            <p class="mt-2 text-base text-warm-gray-500">
              
                <span class="block">4556 Brendan Ferry</span>
              
                <span class="block">Los Angeles, CA 90210</span>
              
            </p>
          </div>
        
          <div>
            <h3 class="text-lg font-medium text-warm-gray-900">New York</h3>
            <p class="mt-2 text-base text-warm-gray-500">
              
                <span class="block">886 Walter Streets</span>
              
                <span class="block">New York, NY 12345</span>
              
            </p>
          </div>
        
          <div>
            <h3 class="text-lg font-medium text-warm-gray-900">Toronto</h3>
            <p class="mt-2 text-base text-warm-gray-500">
              
                <span class="block">7363 Cynthia Pass</span>
              
                <span class="block">Toronto, ON N3Y 4H8</span>
              
            </p>
          </div>
        
          <div>
            <h3 class="text-lg font-medium text-warm-gray-900">London</h3>
            <p class="mt-2 text-base text-warm-gray-500">
              
                <span class="block">114 Cobble Lane</span>
              
                <span class="block">London N1 2EF</span>
              
            </p>
          </div>
      </div> -->
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">
        <%= t("views.about.contact.title") %>
      </h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        <%= t("views.about.contact.p1") %> <%= link_to "hello@boolder.com", "mailto:hello@boolder.com", class: "font-medium underline text-green-600" %>.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">
        <%= t("views.about.help.title") %>
      </h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        <%= t("views.about.help.p1_html", link: link_to(t("views.about.help.app"), app_path, class: "font-medium underline text-green-600")) %>
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">
        <%= t("views.about.open_source.title") %>
      </h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        <%= t("views.about.open_source.p1_html", link: link_to("Github", "https://github.com/boolder-org", class: "font-medium underline text-green-600")) %>
      </p>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        <%= t("views.about.open_source.p2") %>
      </p>
    </div>
  </section>
</div>

<div class="pt-4 pb-8">
  <div class="mx-auto max-w-md px-6 sm:max-w-3xl lg:max-w-7xl lg:px-8">
    <div class="rounded-3xl bg-gradient-to-l from-green-800 to-green-700 py-10 px-6 sm:px-12 lg:flex lg:items-center max-w-3xl">
      <div class="lg:w-0 lg:flex-1">
        <h2 class="text-3xl font-bold tracking-tight text-white"><%= t("views.about.android.title") %></h2>
        <p class="mt-4 text-lg text-green-100">
          <%= t("views.about.android.p1_html", link: link_to(t("views.about.help.android.android_app"), "https://github.com/boolder-org/boolder-android", class: "font-medium underline text-green-200")) %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-warm-gray-50">
  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">
        <%= t("views.about.privacy.title") %>
      </h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        <%= t("views.about.privacy.p1_html", link: link_to(t("views.about.privacy.policy"), privacy_path, class: "font-medium underline text-green-600")) %>
      </p>
    </div>
  </section>
</div>