<% set_meta_tags title: t("views.app_landing.metas.title") %>
<% set_meta_tags description: t("views.app_landing.metas.description") %>

<% set_meta_tags og: { type: "website", image: image_url("app.png") } %>

<div class="overflow-hidden">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">

    <div class="relative my-4 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
      <div class="relative">

        <div class="flex justify-center my-4 lg:mb-8">
          <%= link_to "https://apps.apple.com/#{I18n.locale == :en ? "us" : "fr"}/app/boolder/id1506614493#?platform=iphone" do %>
            <div class="object-contain h-24">
              <%= image_tag "app-store-badge-#{I18n.locale}.png", class:"object-contain h-24 p-4" %>  
            </div>
          <% end %>
          <%= link_to "https://play.google.com/store/apps/details?id=com.boolder.boolder" do %>
            <%= image_tag "play-store-badge-#{I18n.locale}.png", class:"object-contain h-24 p-4" %>
          <% end %>
        </div>

        <!-- <div class="w-full flex justify-center">
          <a class="lg:max-w-lg mb-8 text-sm leading-5 font-medium text-emerald-600 dark:text-emerald-400 bg-emerald-400/10 rounded-full py-1 px-3 inline-flex items-center hover:bg-emerald-400/20" href="<%= about_path(anchor: "android") %>">
            <span class="ml-2 flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
              </svg>

              <span><%= t("views.app_landing.android_announcement") %></span>
            </span>
            <svg width="3" height="6" class="ml-3 overflow-visible text-emerald-300 dark:text-emerald-400" aria-hidden="true">
              <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div> -->


        <h1 class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">
            <%= t("views.app_landing.title") %>
          </h1>
        <p class="mt-3 text-lg text-gray-500">
          <%= t("views.app_landing.subtitle") %>
        </p>

        <dl class="my-12 space-y-10">

          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-emerald-500 text-white">
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                <%= t("views.app_landing.selling_points.map.title") %>
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                <%= t("views.app_landing.selling_points.map.subtitle") %>
              </dd>
            </div>
          </div>

          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-emerald-500 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                <%= t("views.app_landing.selling_points.levels.title") %>
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                <%= t("views.app_landing.selling_points.levels.subtitle") %>
              </dd>
            </div>
          </div>

          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-emerald-500 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                <%= t("views.app_landing.selling_points.search.title") %>
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                <%= t("views.app_landing.selling_points.search.subtitle") %>
              </dd>
            </div>
          </div>

          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-emerald-500 text-white">
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                <%= t("views.app_landing.selling_points.offline.title") %>
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                <%= t("views.app_landing.selling_points.offline.subtitle") %>
              </dd>
            </div>
          </div>
        </dl>
      </div>

      <div class="my-12 lg:py-12 -mx-4 relative lg:mt-0" aria-hidden="true">
        <div class="flex justify-center">
          <div class="relative">
                        
            <%= image_tag "app-screenshot-#{I18n.locale}.jpg", class: "absolute bg-gray-900 h-full", style: "top:14px; left:18px; height: 652px" %>

            <%= image_tag 'iphone-frame.png', class: "relative mx-auto absolute top-0 left-0", width: "336" %>
          
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

