<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex px-2 lg:px-0">
        
        <div class="flex-shrink-0 flex items-center">
          <% if params[:contribute] %>
            <%= link_to mapping_path do %>
              <div class="flex items-center text-sm font-medium text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                </svg>
              </div>
            <% end %>
          <% else %>
            <%= link_to root_localized_path do %>
              <%= image_tag 'logo.svg', class: "h-8 w-auto", alt:"Boolder" %>
            <% end %>
          <% end %>
        </div>
        
      </div>

      <div class="flex flex-1 items-center justify-center px-2 "
        data-controller="search" 
        data-search-locale-value="<%= I18n.locale %>" 
        data-search-debug-value="<%= Rails.env.production? ? "false" : "true" %>"
        data-search-placeholder-value="<%= t('views.search.placeholder') %>"
        data-search-clear-value="<%= t('views.search.clear') %>" 
        data-search-cancel-value="<%= t('views.search.cancel') %>" 
        data-search-submit-value="<%= t('views.search.submit') %>" 
      >
        
          <div id="autocomplete" class="hidden"></div>
      
          <div class="w-full max-w-lg">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <!-- Heroicon name: mini/magnifying-glass -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                </svg>
              </div>
              <input data-action="click->search#open" id="search" name="search" class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-500 focus:border-green-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-green-500 sm:text-sm" placeholder="<%= t('views.search.placeholder') %>" type="search">
            </div>
          </div>

      </div>


    </div>
  </div>

</nav>