<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex px-2 lg:px-0">
        
        <div class="flex-shrink-0 flex items-center">
          <%= link_to root_localized_path do %>
            <%= image_tag 'logo.svg', class: "h-8 w-auto", alt:"Boolder" %>
          <% end %>
        </div>
        <div class="ml-6 flex space-x-8">
          <!-- Current: "border-green-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <%= link_to areas_path, class: "inline-flex items-center px-1 pt-1 font-medium text-gray-500 hover:text-gray-900" do %>
            <%= t("views.layout.nav.areas") %>
          <% end %>
          <%= link_to app_path, class: "inline-flex items-center px-1 pt-1 font-medium text-green-600 hover:text-green-800" do %>
            <%= t("views.layout.nav.app") %>
          <% end %>
          <div 
          data-controller="search" 
          data-search-locale-value="<%= I18n.locale %>" 
          data-search-debug-value="<%= Rails.env.production? ? "false" : "true" %>"
          data-search-placeholder-value="<%= t('views.search.placeholder') %>"
          data-search-clear-value="<%= t('views.search.clear') %>" 
          data-search-cancel-value="<%= t('views.search.cancel') %>" 
          data-search-submit-value="<%= t('views.search.submit') %>" 
          class="inline-flex items-center px-1 pt-1 font-medium text-gray-500 hover:text-gray-900">
            <%= link_to "#", "data-action":"search#open" do %>
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-label="Search">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
              <div id="autocomplete" class="hidden"></div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

</nav>