<!doctype html>
<html>
  <head>
    <title>Boolder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-gray-100">

<div>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="hidden md:block">
            <div class="flex items-center space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <%= link_to admin_areas_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" do %>
                <%= image_tag 'logo.svg', class: "h-8 w-auto", alt:"Boolder admin" %>
              <% end %>

              <%= link_to "Areas", admin_areas_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>

              <%= link_to "Pois", admin_pois_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>

              <div class="relative" data-controller="dropdown">
                <%= link_to "Import", "#", { class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium", 'data-action': "click->dropdown#toggle click@window->dropdown#hide", 'data-dropdown-target': "button" } %>

                <div class="hidden origin-top-left absolute left-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu" data-dropdown-target="menu">
                  <%= link_to "Import GeoJSON", new_admin_import_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100",  role: "menuitem" %>
                  <%= link_to "Import topo", new_admin_topo_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100",  role: "menuitem" %>
                  <%= link_to "Import problem infos", new_admin_problem_import_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100",  role: "menuitem" %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

<%= render "layouts/breadcrumbs" if breadcrumbs.count > 0 %>


<% flash.each do |type, msg| %>
<div class="bg-green-600">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center">
        <p class="ml-3 font-medium text-white truncate">
          <span>
            <%= msg %>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>




  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </main>
</div>

  </body>
</html>
