<!doctype html>
<html>
  <head>
    <title>Boolder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-gray-100">

<div>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <!-- <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-green-500.svg" alt="Workflow">
          </div> -->
          <div class="hidden md:block">
            <div class="flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Problems</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
          <%= render_breadcrumbs builder: CustomBreadcrumbsBuilder, :tag => :li, :separator => "", class: "inline-flex text-green-600" %>
        </ol>
      </nav>
    </div>
  </header>


<% flash.each do |type, msg| %>
<div class="bg-green-600">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center">
        <p class="ml-3 font-medium text-white truncate">
          <span>
            <%= msg %>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>




  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </main>
</div>

  </body>
</html>
