<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <link rel="icon" href="<%= image_path('logo.svg') %>">
    <link rel="mask-icon" href="<%= image_path('logo.svg') %>" color="#059669">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">

    <%= display_meta_tags site: 'Boolder', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js" data-turbo-track="reload"></script>
    <% if !Rails.env.development? %>
      <script async defer data-domain="boolder.com" src="https://plausible.io/js/plausible.js" data-turbo-track="reload"></script>
    <% end %>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-white">
    <div class="bg-gray-100">
      <%= render "layouts/nav" unless @hide_nav %>
      <%= yield %>
      <%= render "layouts/footer" unless @hide_nav %>
    </body>
  </div>
</html>
