<% # Don't forget to update map.html.erb too %>
<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <link rel="icon" href="<%= image_path('logo.svg') %>">
    <link rel="mask-icon" href="<%= image_path('logo.svg') %>" color="#059669">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">

    <%= display_meta_tags site: 'Boolder', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
    <%= javascript_importmap_tags %>
    
    <% if !Rails.env.development? %>
      <script async defer data-domain="boolder.com" src="https://plausible.io/js/plausible.js" data-turbo-track="reload"></script>
    <% end %>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
      // This code uses custom events coming from search_controller.js
      // FIXME: make code more robust
      let locale = "<%= I18n.locale %>";
      window.addEventListener('gotoproblem', function(event) {
        window.location = `/${locale}/redirects/new?problem_id=${event.detail.id}`
      });
      window.addEventListener('gotoarea', function(event) {
        window.location = `/${locale}/redirects/new?area_id=${event.detail.id}`
      });
    </script>
  </head>

  <body class="bg-white">

    <div class="bg-gray-100">
      <%= render "layouts/nav" unless @hide_nav %>
      <%= render "layouts/flash" %>
      <%= yield %>
      <%= render "layouts/footer" unless @hide_nav %>
    </body>
  </div>
</html>
