<!doctype html>
<html>
  <head>
    <title>Boolder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-gray-100">

  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </main>


  </body>
</html>
