<!doctype html>
<html>
  <head>
    <%= display_meta_tags site: 'Boolder' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js" data-turbo-track="reload"></script>
    <script async defer data-domain="boolder.com" src="https://plausible.io/js/plausible.js" data-turbo-track="reload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-white">
    <div class="bg-gray-100">
      <%= render "layouts/nav" unless @hide_nav %>
      <%= yield %>
      <%= render "layouts/footer" unless @hide_nav %>
    </body>
  </div>
</html>
