<% # Don't forget to update application.html.erb too %>
<!doctype html>
<% # Trick to make the page full height even on mobile: https://stackoverflow.com/a/24979148 %>
<html lang="<%= I18n.locale %>" class="h-full m-0">
  <head>
    <link rel="icon" href="<%= image_path('logo.svg') %>">
    <link rel="mask-icon" href="<%= image_path('logo.svg') %>" color="#059669">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">

    <%= display_meta_tags site: 'Boolder', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
    <%= javascript_importmap_tags %>

    <% if !Rails.env.development? %>
      <script async defer data-domain="boolder.com" src="https://plausible.io/js/plausible.js" data-turbo-track="reload"></script>
    <% end %>

    <!-- FIXME: load async -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js' data-turbo-track="reload"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' data-turbo-track="reload" />
    <style>
      /* FIXME: put in css stylesheet */
      .mapboxgl-popup-content {
        font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 0.875rem;
      }
      .mapboxgl-popup-content a {
        font-weight: 500;
        color: rgba(5, 150, 105, 1);
        text-decoration: underline;
      }
    </style>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-white h-full m-0">
    <div class="bg-gray-100 flex flex-col h-full">
      <div class="flex-initial">
        <%= render "layouts/map_nav" %>
      </div>
      <%= yield %>
    </body>
  </div>
</html>
